:root {
  --dark_gray: rgb(58, 58, 58);
  --light_gray: rgb(178, 176, 176);
  --light_gray_trans: rgba(178, 176, 176, .7);

  --green: rgba(4, 158, 53, 0.953);
  --red: rgba(238, 55, 10, 0.886);
}

body {
  margin: 0;
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
